services:
  web:
    build: .
    container_name: django_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app # permet de voir les changements en temps réel
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db # attend que la base de données soit prête
    networks:
      - djangonet

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - djangonet

networks:
  djangonet:
    driver: bridge

volumes:
  postgres_data:
