name: CI/CD Pipeline

on:
  push:
    branches: 
      -main
  pull_request:
  
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run migrations
      run: |
        python manage.py migrate
    - name: Run Tests
      run: |
        python manage.py test

    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 .





